*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.button {
  border: 1px solid #fff;
  color:#fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  margin-inline: 30px;
  margin-block: 133px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: fill;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  font-weight: 400;
}

.search-form__fieldset {
  display: inline;
  margin-inline-end: 36px;
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: inherit;
}

.search-form__textfield
{
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-width: 212px;
}

.search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 15px;
  height: 15px;
  margin: 1px;
  background-color: #fff;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  padding-inline: 2px;
  padding-block: 2px;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

input[type='checkbox']:active + .search-form__pseudo-checkbox::before {
  display: block;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__label:has(input[type='checkbox']:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  display: inline-block;
  inline-size: 188px;
  block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  block-size: 534px;
}

.content__details .title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__list-item:last-child {
  margin-block-end: 0;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: 2px;
  padding-block: 2px;
  color: #fff;
  inline-size: 399px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__video-card-thumbnail {
  object-fit: fill;
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  padding-block: 6px;
  inline-size: 100%;
}

li:last-child {
  align-self: stretch;
}
